.Button {
  background: linear-gradient(
    135deg,
    var(--background-stale-one),
    var(--background-stale-two)
  );
  /* color: #2f4f4f; */
  border: none;
  padding: 8px 4px;
  border-radius: 4px;
  font-size: 8px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  width: 24vw;
  max-width: 24vw;
}

.Button:active {
  transform: scale(0.98);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* .Button .lg {
  width: 24vw;
} */

@media (min-width: 768px) {
  .Button {
    padding: 12px 8px;
    font-size: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    width: 16vw;
    max-width: 16vw;
  }

  .Button:active {
    box-shadow: 0 7px 18px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1024px) {
  .Button {
    padding: 14px 10px;
    font-size: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    width: 14vw;
    max-width: 14vw;
  }

  .Button:active {
    box-shadow: 0 7px 18px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1440px) {
  .Button {
    padding: 16px 12px;
    font-size: 14px;
    width: 12vw;
    max-width: 12vw;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
  }

  .Button:hover {
    transform: scale(1.02);
    background: linear-gradient(
      135deg,
      var(--background-hover-one),
      var(--background-hover-two)
    );
  }

  .Button:active {
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
  }
  /* 
  .Button .lg {
    width: 49vw;
    max-width: 49vw;
  } */
}
